streamlit
pandas
torch==1.10.1+cu101 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.11.2+cu101 -f https://download.pytorch.org/whl/torch_stable.html
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu101/index.html
detectron2
