streamlit
pandas
torch==1.8.0 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.0 -f https://download.pytorch.org/whl/torch_stable.html
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/index.html
detectron2
